.navbar-nav {
    display: flex;
    flex-direction: row;
}

li {
    margin-right: 30px;
}

.navbar {
    height: 80px;
}

.banner {
    font-family: spotify-circular,Helvetica,Arial,sans-serif;
    --background-highlight: #f6f6f6;
    --background-press: #b7b7b7;
    --background-elevated-base: #ffffff;
    --background-elevated-highlight: #f6f6f6;
    --background-elevated-press: #b7b7b7;
    --background-tinted-base: rgba(0,0,0,0.08);
    --background-tinted-highlight: rgba(0,0,0,0.05);
    --background-tinted-press: rgba(0,0,0,0.12);
    --background-unsafe-for-small-text-base: #ffffff;
    --background-unsafe-for-small-text-highlight: #ffffff;
    --background-unsafe-for-small-text-press: #ffffff;
    --text-subdued: #6a6a6a;
    --text-bright-accent: #117a37;
    --text-negative: #d31225;
    --text-warning: #9d5a00;
    --text-positive: #117a37;
    --text-announcement: #0c67d3;
    --essential-base: #000000;
    --essential-subdued: #878787;
    --essential-bright-accent: #169b45;
    --essential-negative: #e91429;
    --essential-warning: #c77200;
    --essential-positive: #169b45;
    --essential-announcement: #0d72ea;
    --decorative-base: #000000;
    --decorative-subdued: #dedede;
    --warning-background-base: #ffa42b;
    --warning-background-highlight: #ffaf45;
    --warning-background-press: #c57100;
    --warning-background-elevated-base: #ffa42b;
    --warning-background-elevated-highlight: #ffa42b;
    --warning-background-elevated-press: #ffa42b;
    --warning-background-tinted-base: #ffa42b;
    --warning-background-tinted-highlight: #ffa42b;
    --warning-background-tinted-press: #ffa42b;
    --warning-background-unsafe-for-small-text-base: #ffa42b;
    --warning-background-unsafe-for-small-text-highlight: #ffa42b;
    --warning-background-unsafe-for-small-text-press: #ffa42b;
    --warning-text-base: #000000;
    --warning-text-subdued: #000000;
    --warning-text-bright-accent: #000000;
    --warning-text-negative: #000000;
    --warning-text-warning: #000000;
    --warning-text-positive: #000000;
    --warning-text-announcement: #000000;
    --warning-essential-base: #000000;
    --warning-essential-subdued: #000000;
    --warning-essential-bright-accent: #000000;
    --warning-essential-negative: #000000;
    --warning-essential-warning: #000000;
    --warning-essential-positive: #000000;
    --warning-essential-announcement: #000000;
    --warning-decorative-base: #000000;
    --warning-decorative-subdued: #f18900;
    --inverted-background-base: #000000;
    --inverted-background-highlight: #0d0d0d;
    --inverted-background-press: #3f3f3f;
    --inverted-background-elevated-base: #000000;
    --inverted-background-elevated-highlight: #000000;
    --inverted-background-elevated-press: #000000;
    --inverted-background-tinted-base: #000000;
    --inverted-background-tinted-highlight: #000000;
    --inverted-background-tinted-press: #000000;
    --inverted-background-unsafe-for-small-text-base: #000000;
    --inverted-background-unsafe-for-small-text-highlight: #000000;
    --inverted-background-unsafe-for-small-text-press: #000000;
    --inverted-text-base: #ffffff;
    --inverted-text-subdued: #8f8f8f;
    --inverted-text-bright-accent: #1ed760;
    --inverted-text-negative: #ffffff;
    --inverted-text-warning: #ffffff;
    --inverted-text-positive: #ffffff;
    --inverted-text-announcement: #ffffff;
    --inverted-essential-base: #ffffff;
    --inverted-essential-subdued: #5e5e5e;
    --inverted-essential-bright-accent: #1ed760;
    --inverted-essential-negative: #ffffff;
    --inverted-essential-warning: #ffffff;
    --inverted-essential-positive: #ffffff;
    --inverted-essential-announcement: #ffffff;
    --inverted-decorative-base: #ffffff;
    --inverted-decorative-subdued: #1f1f1f;
    overflow: auto;
    --background-base: #1d75de;
    background: var(--background-base,inherit);
    --text-base: #ffffff;
    color: var(--text-base,"#FFF");
    text-align: left;
    padding-top: 100px;
    padding-left: 220px;
    padding-bottom: 40px;
}

.main-text {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 30px;
}

.sub-text {
    font-size: 26px;
    margin-bottom: 30px;
}

.advice {
    font-size: 12px;
}

.buttons {
    margin-bottom: 30px;
}

.buttons button {
    min-width: 120px;
    min-height: 50px;
    border-radius: 30px;
    color: #fff;
}

.buttons button:first-child {
    background-color: #000;
}

.buttons button:last-child {
    background-color: rgb(29, 117, 222);
}

