body{
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
#contenedor{
    width: 95%;
    margin: 11px auto; 
    
}
header{
    background-color: orange;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: ghostwhite;
}
nav ul li{
    float: left;
    list-style: none;
    margin: 5px;
}
a{
    text-align: center;
    padding: 90px;
    
}
.jumbotron{
    background-color: black;
    color: white;
}
.clearfix{
    clear: both;
}
#contenido{
    width: 100%;
    min-height: 500px;
    background: rgb(190, 140, 148);
    text-align: center;
}
.articulo{
    text-align: center;
    color: rgb(99, 79, 79);
    word-spacing: 2%;

}
footer{
    background: black;
    color: aliceblue;
    text-align: center;
    height: 50px;
    line-height: 50px;
    text-align: center;
}